<div id="content" class="grid_9">
  <h1>Mi Profile</h1>

  <div class="blue-back round">
    <div class="content-block">
      <div>        
        <table>
          <tr>
            <td><strong>Nombre:</strong></td>
            <td>Benito H. Serna</td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td>bhsg@jazzcontrols.com</td>
          </tr>
          <tr>
            <td><strong>Empresa:</strong></td>
            <td>Jazz Controls, SA de CV</td>
          </tr>
          <tr>
            <td><strong>Puesto:</strong></td>
            <td>CEO</td>
          </tr>
          <tr>
            <td><strong>Bio:</strong></td>
            <td> Mas de 20 años de experiencia en la industria de la instrumentación, antes de Jazz 
	       Controls fue fundador de Serna Ingeniería. A demás de la instrumentación, el control 
              de procesos y las tecnologías de información tiene como pasión la música como
              ejecutante de guitarra.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
 