<div id="content" class="" >
  <div class="grid_4">
    <div class="big-product-img">
      <%= image_tag("product-big.png") %>
    </div>
    
    <div class="blue-back round">
      <div class="content-block">
        <div>
          <h2>Documentaci贸n</h2>
          <%= link_to "Models 111, 211, 311.pdf", "#" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="grid_8">
    <h1>Transductor de Presi贸n de grado Industrial - Modelos 311, 211, 111</h1>
    <div class="add-to-cart-button">
      <%= link_to "Agregar al carrito", "#" %>
    </div>
    <div class="add-to-favorites-button">
      <%= link_to "Agregar a favoritos", "#" %>
    </div>
    <div class="blue-back round">  
      <div class="content-block">
        <div>
          <h2>Descripci贸n</h2>
          <h3>Modelo</h3>
          <ul><li>311: 4-20 mA</li></ul>
          
          <h3>Rango</h3>
          <ul><li>PZ: 0 a 100 PSIA</li></ul>

          <h3>Tipo de presi贸n</h3>
          <ul><li>3: Absoluta</li></ul>
          
          <h3>Opciones</h3>
          <ul><li>CA: Conecto Bendix PTIH-10-6P</li></ul>
        </div>
      </div>
    </div>
  </div>
</div>